ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #ff9800;
  }
  
  ion-item h2 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  ion-item p {
    font-size: 1rem;
    color: #666;
  }
  
  ion-avatar img {
    border-radius: 8px;
    object-fit: cover;
    width: 64px;
    height: 64px;
  }
  
  ion-button {
    margin: 10px;
    font-size: 1.2rem;
  }
  
  ion-button[color="success"] {
    background-color: #4caf50;
  }
  
  ion-button[color="danger"] {
    background-color: #f44336;
  }
  