<ion-header>
  <ion-toolbar color="primary">
    <ion-title>รายการสั่งซื้อ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">รายการคิวทั้งหมด</h2>

  <ion-list>
    <ion-item *ngFor="let order of orders" class="order-item">
      <ion-label class="order-label">
        <h3>คุณ: {{ order.name }} | คิวที่: {{ order.queue_number }}</h3>
        <p>📞 เบอร์โทร: {{ order.phone }}</p>
      </ion-label>

      <div class="button-group">
        <ion-button expand="full" color="success" (click)="goToOrderList(order.id)">
          ดูรายการอาหาร
        </ion-button>

        <ion-button expand="full" color="danger" (click)="completeOrder(order.id)">
          เสร็จสิ้น
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" (click)="logout()">
    กลับไปหน้าแรก
  </ion-button>
</ion-content>
