.left {
  text-align: left;
}

.img{
  width: 180px;
  height: 200px;
}

.center {
  text-align: center;
}

.product-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: #FFB6C1;  /* เปลี่ยนจาก #ff145e เป็นสีชมพูอ่อนที่ดูนุ่มนวล */
height: 340%;
}

.product-card {
width: 150px;
margin: 10px;
text-align: center;
}

img {
width: 100%;  /* ใช้ 100% ของความกว้างของ container */
height: auto;  /* ให้สูงอัตโนมัติ เพื่อรักษาสัดส่วน */
object-fit: contain;  /* ป้องกันการบิดเบือนของภาพ */
}

.product-info {
margin-top: 10px;
}

ion-button {
margin-top: 10px;
--background: #FF1493;  /* ใช้สีชมพูสดใสให้ปุ่ม */
--color: white;  /* ข้อความบนปุ่มเป็นสีขาว */
}

.custom-card {
border: 2px solid #FFC0CB;  /* ใช้สีชมพูอ่อน (Pink) สำหรับกรอบการ์ด */
border-radius: 10px;
padding: 10px;
}
