

<ion-content class="ion-padding">
  <div class="booking-card">
    <h2 class="booking-title">การจองคิวเสร็จสิ้น!!</h2>
    <p class="queue-label">หมายเลขคิว</p>
    <div class="queue-number">
      01
    </div>
    <ion-button color="success" expand="full" [routerLink]="['/home']">
      เสร็จสิ้น
    </ion-button>
  </div>
</ion-content>

<style>
   ion-content {
    display: flex;
    justify-content: center; /* จัดให้อยู่กึ่งกลางในแนวนอน */
    align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้ง */
    height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
  }
  .booking-card {
    border: 2px solid #000000; /* ขอบหนา 2px สีเขียวเข้ม */
    border-radius: 8px; /* ทำให้ขอบมน */
    padding: 16px; /* เพิ่มพื้นที่ขอบด้านใน */
  }
</style>